div{
    margin: 10px;
    padding: 10px;
}

.none{
    border-style: none;
}
.solid{
    border-style: solid;
}
.dotted{
    border-style: dotted;
}
.dashed{
    border-style: dashed;
}
.double{
    border-style: dashed;
}
.groove{
    border-style: groove;
}
.ridge{
    border-style: ridge;
}